extends email

block content
  h1 Hi #{firstName}
  p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to:
  a.button(href=url) Reset your password
  p If you didn't forget your password, please ignore this email!
